/* style.css */

* {
    margin: 0;
}

ul {
    padding-left: 0;
}

.header {
    height: 5vh;
    padding: 1%;
    background-color: rgb(14, 134, 212);
    color: white;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    height: 85vh;
    background-color: rgb(0, 48, 96);
}

.boatListPlayer, .boatListComputer {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    height: 50vh;
    line-height: 4;
    color: white;
}

.boatListPlayer {
    margin-left: 20%;
}

.playerGrid, .computerGrid {
    margin: 0 auto;
    margin-top: 13%;
    height: 70%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid rgb(255, 255, 255);
}

.grid-cell {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(5, 92, 157);
}

.grid-cell:hover {
    background-color: rgba(157, 168, 255, 0.7);
}

.grid-cell.ship {
    background-color: purple;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 5.8vh;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(14, 134, 212);
}

